.test {
  display: none;
}

#top_wrapper {
    background: none repeat scroll 0 0 #000;
}
#top_wrapper #top_left .top_left_phone {
    color: #fff;
}

#top_right #block-menu-menu-top-right-menu ul.nav.menu > li {
    float: right;
}
header[role="banner"] {
    background: none repeat scroll 0 0 #eee;
}
header.navbar[role="banner"] {
    background: initial;
}
#top #block-menu-menu-market-info-menu ul.nav.menu > li {
    float: right;
}

#header_wrapper {
    left: 0;
    position: absolute;
    right: 0;
}

